<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home" %}">Hospital Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
          </li>
          {% if request.user.is_authenticated%}
          {% if request.user.role == "doctor" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'doctor_dashboard' %}"></a>
          </li>
          {%endif %}
          <a href="{% url "departments" %}" class="nav-link">Departments </a>
          {% if request.user.role == "patient"%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'patient_appointments' %}">Appointments</a>
          </li>
          {% endif%}
          {% endif %}

         
        </ul>
        {%if request.user.is_authenticated %}
        <div class="dropdown mx-2">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
           Hello  {{request.user.first_name}} !
          </button>
          <ul class="dropdown-menu">
           
            {% if request.user.role == "patient" %}
            <li><a class="dropdown-item" href="{% url 'patient_prescriptions'%}">My Prescriptions</a></li>
            <li><a class="dropdown-item" href="{% url "patient_appointments" %}">Appointments</a></li>
            {% elif request.user.role == "staff" or request.user.role == "admin" %}
            <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a href="{% url "logout" %}" class="dropdown-item">Logout</a></li>
          </ul>
        </div>
        <form class="d-flex" role="search" action="{% url 'search' %}" method="GET">
          <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
        {%else%}
        <div class="d-flex">
        <span class="mx-3"> 
          <a href="{% url "register_user" %}" class="btn btn-outline-success">Register</a>
        </span>  
        <span class="ml-2"> 
          <a href="{% url "login_user" %}" class="btn btn-outline-warning ">Login </a>
        </span>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>